@import "tailwindcss";
.input-box {
  @apply border border-gray-300 p-2 w-full rounded-lg mb-3 focus:ring focus:ring-blue-100;
}

.btn-primary {
  @apply bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition;
}
